.eslint*
**/node_modules
node_modules/*
**/server
**/doc
*.go
*.md
client/src/index.js
circle.yml
LICENSE
package.json
dump.rdb
/client/build/*
/client/src/modules/*
compile.js
config.toml
Makefile
template.html.tpl