# Compiled Go files
/server/bin

# Go dependencies
/server/src/github.com
/server/pkg/darwin_amd64/github.com

# Node dependencies
/node_modules

# Redis disk flush
dump.rdb

# NPM debug log
npm-debug.log

# API keys
/server/src/cfg/keys.json

# DS store
server/.DS_Store
server/src/.DS_Store

